
div(class="panel panel-left")
    h4(class="panel-title") Order Details
    div(class="panel-field")
        label(class="sq-label") Pickup at
        div #{locationInfo.storeName}
        div #{locationInfo.addressLine}
        div #{locationInfo.cityStateZip}
    div(class="panel-field")
        label(class="sq-label") Pickup Time
        div(class="time-options")
            each timeOption, index in expectedPickUpTimes.options
                input(id=timeOption.time, type="radio", name="pickupTime", value=timeOption.value, checked = index === 0) 
                label(class="time-option",for=timeOption.time) #{timeOption.time}
    div(class="panel-field")
        label(class="sq-label") Pickup Name
        input(class="panel-input", name="pickupName",type="text", placeholder="Pickup Name", autocomplete="name", required)
    div(class="panel-field")
        label(class="sq-label") Pickup Phone Number
        input(class="panel-input", name="pickupNumber",type="tel", placeholder="Pickup Number", autocomplete="tel", required)
    div(class="panel-field")
        label(class="sq-label") Pickup Email 
            span(class="subtext") (Optional)
        input(class="panel-input", name="pickupEmail",type="email", placeholder="Pickup Email", autocomplete="email")